.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        height: 80px;
        width: 80px;
        padding-left: 16px;
    }

    .nav-items {

    }
}